[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = '*'
"passlib[bcrypt]" = '*'
"python-jose[cryptography]" = '*'
fastapi = '*'
"python-multipart" = '*'
alembic = '*'
[dev-packages]

[requires]
python_version = "3.11"
